.main{
    background-color: rgb(194, 194, 194);
    border-radius: 10px;
    border: 1px solid rgb(179, 179, 179);
    box-shadow: 4px 4px 7px 0px rgba(34, 60, 80, 0.35);
    width: 26%;
    height: 28.1%;
    padding: 12px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text{}
.info{
    display: flex;
    justify-content: space-between;
}
.date{
    color: rgb(141, 141, 141);
}
.urgency{
    color: rgb(141, 141, 141);
}