.main{
    background-color: rgb(194, 194, 194);
    border-radius: 10px;
    border: 1px solid rgb(179, 179, 179);
    box-shadow: 4px 4px 7px 0px rgba(34, 60, 80, 0.35);
    width: 22vw;
    height: 28.1vh;
    margin: 10px 10px;
    padding: 12px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.description{
    font-size: 18px;
}
.set_completed{
    border: 1px solid rgb(136,136,136);
    border-radius: 8px;
    width: 80px;
    height: 30px;
    font-weight: 600;
    font-size: 16px;
    background-color: rgb(94,211,243);
    border-radius: 5px;
    cursor: pointer;
    margin: 0 0 0 12px;
}
.info{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.date{
    color: rgb(141, 141, 141);
}
.completed{
    color: rgb(141, 141, 141);
}
.completed_img{
    width: 14px;
    height: 14px;
}