.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}
.text{
    font-size: 22px;
    font-weight: 600;
    color: black;
    margin-bottom: 15px;
}
.text span{
    color: rgb(227,30,37);
}
.btn{
    outline: none;
    border: 1px solid rgba(116, 116, 116, 0.5);
    padding: 15px 27.5px;
    background-color: rgba(97, 218, 251, 1);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
}