.main{
    background-color: rgb(210, 210, 210);
    border-radius: 10px;
    border: 1px solid rgb(194, 194, 194);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.3);
    width: 280px;
    height: 175px;
    padding: 12px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text{}
.info{
    display: flex;
    justify-content: space-between;
}
.date{
    color: rgb(141, 141, 141);
}
.urgency{
    color: rgb(141, 141, 141);
}