.main{
    display: flex;
    align-items: center;
}
.noselected{
    padding: 1px 6px 1px 6px;
    border-radius: 5px;
    margin: 5px 20px;
    cursor: pointer;
}
.noselected:hover{
    background-color: rgba(116, 116, 116, 0.5);
}
.selected{
    font-weight: 900;
    margin: 5px 20px;
    cursor: pointer;
}
.btn{
    text-align: center;
    outline: none;
    border: 1px solid rgba(210, 210, 210, 1);
    width: 40px;
    height: 40px;
    color: black;
    font-size: 25px;
    font-weight: 600;
    background-color: rgba(116, 116, 116, 0.5);
    border-radius: 50%;
    cursor: pointer;
}