.main{
    position: fixed;
    right: 2.5vw;
    bottom: 5vh;
}
.logo{
    width: 55px;
    height: 55px;
    border: 1px solid rgb(136,136,136);
    border-radius: 50%;
    font-weight: 700;
    font-size: 35px;
    background-color: rgb(94,211,243);
    text-align: center;
    cursor: pointer;
}