.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.almost_main{
    margin: 20vh 0 0 0;
}
.title{
    font-size: 35px;
    text-align: center;
}
.main_form{
    text-align: center;
    margin: 20px 0 0 0;
    padding: 60px 40px 60px 40px;
    border: 2px solid rgb(136,136,136);
    border-radius: 8px;
}
.email{
    font-size: 18px;
    margin: 0 0 10px 0;
    outline: none;
}
.password{
    font-size: 18px;
    margin: 0 0 40px 0;
    outline: none;
}
.login{
    color: black;
    text-align: center;
    font-size: 20px;
    width: 100%;
    background-color: rgb(194,194,194);
    outline: none;
    border: 1px solid rgb(136,136,136);
    border-radius: 4px;
    cursor: pointer;
}
.register{
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 20px;
    width: 80%;
    background-color: rgb(194,194,194);
    outline: none;
    border: 1px solid rgb(136,136,136);
    border-radius: 4px;
    cursor: pointer;
    margin: 20px 0 0 10%;
}